.form1{
	background-color:#24C32F;
	display:block;
	justify-content:center;text-align:center;
	border:1px;
	border-radius:10px;
	margin-left:35%;
	margin-right:38%;
}
.fillup{
	position:relative;
	margin-top:10px;
	width:350px;
}
.btn{
	background-color: #4CAF50; /* Green */
	border: 2px solid black;
	border-radius: 20px 20px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
}.logout{
	margin-left:65%;
}